
@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Gugi&family=Mr+Dafoe&family=Rajdhani&display=swap');

body{
    font-family: var(--mr-dafoe);
    background-color: black;
}
/*----- CSS VARIABLES ------*/

:root{
    --primary-color:#d3325f;
    --bg-info2:#c9c1ac;
    --color-info:#c9c1ac;
    --mr-dafoe:"Mr Dafoe", cursive;
    --gugi:"Gugi", cursive;
    --rajdhani:"Rajdhani", sans-serif;
}
/*----- Global--------*/
.primary-color{
    color: var(--primary-color);
}
.color-info{
    color: var(--color-info);
}
.bg-info2{
    background-color:#c9c1ac;
}
.mr-dafoe{
    font-family: var(--mr-dafoe);
}
.gugi{
    font-family: var(--gugi);
}
.rajdhadni{
    font-family: var(--rajdhani);
}/*---xx End of Global Classes xx---*/

/**-->> Start of First Navbar Section >>--*/
.info h2{
    word-spacing: 0.6rem;
    font-size: 20px;
}
.info a{
    transition: color 2s ease-in-out;
}
.info a:hover{
    color: #242424;
}/**---xx Start of First Navbar Section xx--*/

/**-->> Start header and Banner Section >>--*/
#header{
    min-height: calc(100vh - 94px);
    background:  linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(../img/sushi-bckg.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat; 
    position: relative; 
}
.height-90{
    min-height: calc(100vh - 94px);
}
.banner h1{
    border-top: 6px dotted #c9c1ac;
    border-bottom: 6px dotted #c9c1ac;  
    animation: fromLeft;
    animation-duration: 4s; 
    animation-delay: 2s;
    opacity: 0;
    animation-fill-mode: forwards;
    justify-content: center;
}
@keyframes fromLeft{
    0%{transform: translateX(-100px);
        opacity: 0; }
    50%{transform: translateX(30px);}
    100%{transform: translateX(0);
        opacity: 1;}
}
.main-btn{
    color:var(--color-info) ;
    font-size: 1.5rem;
    border: 2px solid wheat;
    transition: all 1s ease-in-out;
    
}
.sushi-btn{
    animation: fromRight;
    animation-duration: 4s; 
    animation-delay: 2s;
    opacity: 0;
    animation-fill-mode: forwards;
}
@keyframes fromRight{
    0%{transform: translateX(100px);
        opacity: 0; }
    50%{transform: translateX(-30px);}
    100%{transform: translateX(0);
        opacity: 1;}
}
.main-btn:hover{
    color: #242424;
    border: 2px solid wheat;
    background: var(--bg-info2);
}
.header-link{
    display: inline-block;
    position: absolute;
    bottom: 5%;
    left: 48%;
    background: var(--bg-info2) ;
    border-radius: 10px;
    transition: all 2s ease;
}
.header-link{
    animation: fromBottom;
    animation-duration: 4s; 
    animation-delay: 2s;
    animation-iteration-count: infinite;
}
@keyframes fromBottom{
    0%{transform: translateY(-15px);
     }
    50%{transform: translateY(15px);
    }
    100%{transform: translateY(-15px);
    }
}/**--xx End of header and Banner Section xx--*/

/**-->> Start of Second Navbar >>--**/
.navbar{
    padding:20px 20px;
    background: #c9c1ac;
    transition: all 2s ease;
}
.navbar-background{
    padding: 5px 20px;
}
.navbar-brand{
    font-size: 30px;
    transition: all 1s ease;
}
.navbar-brand:hover{
    color: #242424;   
}
.nav-link{
    color: #242424;
    text-decoration: none;
    transition: all 2s ease;
    margin-right: 2rem;
    font-size: 20px;
}
.nav-link:hover{
    color: #d3325f;
}
.nav-btn{
    background: transparent;
    color: #d3325f;
    border: #d3325f 2px solid;
    font-size: 23px;
    transition: all 2s ease;
}
.nav-btn:hover{
    color: #242424;
    border: 2px solid #242424;
    transform: rotate(10deg);
    transition: all 2s ease;
}
.bar{
    width: 30px;
    height: 3px;
    margin: 5px;
    background: #d3325f;
    transition: all 1s ease;
}
.change .bar1{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.change .bar2{
   opacity: 0;
}
.change .bar3{
    transform: rotate(45deg) translate(-5px, -8px);
}/**--xx End of Second Navbar xx--**/

/**----- Menu Items-------------**/
.item-container{
    position: relative;
    /*-- For the link--*/
    overflow: hidden;
    background:linear-gradient(rgba(0,0,0), rgba(0,0,0));
    transition: all 2s ease;
}
.item-img{
    transition: all 2s ease;
}
.item-container:hover .item-img{
    transform: scale(1.2);
    opacity: 0.5;
}
.item-link{
     
    position: absolute;/*-- For the link to placed on top of the img--*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);/*-- For the link to be on the center--*/
    font-size: 1rem;
    color: var(--primary-color);
    border-top: 2px solid var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
    transition: all 2s ease;
    opacity: 0;
}
.item-container:hover .item-link{
    opacity: 1;
}
.item-link:hover{
    border: 2px solid white;
    color: #242424;
    background: #c9c1ac;
}
.item-container:hover{
    outline: 5px solid var(--primary-color);
    outline-offset: 0.8rem;
}/**---xx End of Menu Items xx----**/

/**----- About  -------**/
.about-pictures{
    position: relative;
}
.about-image{
    position: absolute;
    width: 150px;
    transition: all 2s ease;
    opacity: 0.9;
}
.img-1{
    left: 0%;
    top: 0%;
}
.img-2{
    left: 20%;
    top: 20%;
    z-index: 10;
}
.img-3{
    left: 40%;
    top: 40%;
    z-index: 20;
}
.img-4{
    left: 40%;
    top: 0%;

}
.img-5{
    left: 0%;
    top: 40%;
}
.about-image:hover{
    outline: 5px solid #d3325f;
    outline-offset: 0.8rem;
    transform: scale(1.3) rotate(20deg);
    z-index: 30;
    opacity: 1;
}
.about-pictures:hover .about-image:not(:hover){
    opacity: 0.5;
}
/*---- Start of Carousel Section------*/
.review-img{
    width: 150px;
}
.review-item{
    background: rgba(255,255,255,0.7);
    clip-path: polygon(5% 0, 100% 0, 90% 100%, 0 100%);
}/*---- End of Carousel Section------*/


/*---- Start of Card Section------*/

.team-icons >a{
    color: #3b5998;
    transition: all 2s ease-in-out;
}
.team-icons:hover{
    color: #242424;
    transform: translateY(-5px) ;
}/*---- End of Card Section------*/

/*---- Start of Contact Section------*/
#contact{
    background: white !important;
}
.height-60{
    min-height: 60vh;
}
#contact .card{
    background: rgba(0,0,0,0.4);
    transition: all 2s ease;
} 
#contact .card:hover{
background: rgba(0,0,0,0.8);
}
#contact .card-header{
    color: #d3325f;
    border: 1px solid white;
}

#contact .input-group-text{
    background: #d3325f;
    border: #d3325f;
}
#contact .fant{
    color: white; 

   
}
#contact .card input{
    color:#606060;
}
.contact-btn{
    color: #d3325f;
    border-color:#d3325f;
    background: transparent;
    transition: all 2s ease-in-out;
}
.contact-btn:hover{
    background: #c9c1ac;
    color: #d3325f;
    border-color: #c9c1ac;
}/*---- End of Contact Section------*/

/*-------- Start of Footer ------*/
#back-to-top{
    background: #c9c1ac;
    border-radius: 10px;
   display: inline-block;
}
.scrollTop{
    position: fixed;
    bottom: 70px;
    right: 5px;
}
/*-------- Start of Footer ------*/